<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
    <div class="col-md-3"></div>
    <ul id="nav" class="nav">
      <li><a href="/" class="navlink px-2 link-secondary text-decoration-none">Início</a></li>
      <li><a href="/about" class="navlink px-2 link-secondary text-decoration-none">Sobre</a></li>
    </ul>
    <div id="log_bttns" class="col-md-3 text-end">
      <a class="non-logged-display" href="/login"><button class="btn btn-outline-primary me-2">Login</button></a>
      <a class="non-logged-display" href="/create-login"><button class="btn btn-primary">Cadastrar-se</button></a>
    </div>
    <p id="user">{{user}}</p>
  </header>
</div>
