{{> header}}

<div class="container d-flex flex-column justify-content-center align-items-center bg-secondary bg-opacity-25 w-50" style="height: 300px; position: relative; top: 100px">
  <form action="/forgot-password" method="post">
  <p class="fw-light">Enviaremos instruções para recuperação de senha em seu e-mail</p>
  <div class="mb-3">
    <label for="email" class="form-label fs-4">E-mail</label>
    <input id="email" type="email" class="form-control border border-secondary" autocomplete="email">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  <div class="d-flex justify-content-center gap-1" style="position: relative; top: 10px">
    <p>Sabe seu login e senha?</p>
    <a href="/login">Acessar</a>
  </div>
</div>