<div class="container d-flex flex-column position-relative" style="top: 50px">
  <a href="/create-form" class="d-flex justify-content-end position-relative" style="right: 10px">
    <button type="button" class="btn btn-success">Novo formulário</button>
  </a>

  <div class="container d-flex flex-column gap-3 position-relative" style="top: 50px">
  <div class="container-sm">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 rounded-3 border shadow-lg">
        <div class="col-lg-7">
          <h1>Formulário 1</h1>
        </div>
      </div>
  </div>
  <div class="container-sm">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 rounded-3 border shadow-lg">
        <div class="col-lg-7">
          <h1>Formulário 1</h1>
        </div>
      </div>
  </div>
</div>
</div>

